{% extends 'base.html.twig' %}

{% block title %}Vendeurs index{% endblock %}

{% block body %}
    <h1>Vendeurs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>vendeur_user_id</th>
                <th>nom</th>
                <th>prenom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vendeur in vendeurs %}
            <tr>
                <td>{{ vendeur.id }}</td>
                <td>{{ vendeur.user_id }}</td>
                <td>{{ vendeur.nom }}</td>
                <td>{{ vendeur.prenom }}</td>
                <td>
                    <a href="{{ path('app_vendeurs_show', {'user_id': vendeur.user_id}) }}">show</a>
                    <a href="{{ path('app_vendeurs_edit', {'user_id': vendeur.user_id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_vendeurs_create', {'user_id': vendeur.id}) }}">Create new</a> #}
{% endblock %}
