{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('css/accueil.css')}}">
  <link rel="stylesheet" href="{{asset('css/mozaic_accueil.css')}}">
{% endblock %}


{% block body %}

<div class="example-wrapper">


  {% include "./composants_base/banniere.html.twig" %}



</div>
{# Mozaic produit le plus vendue #}
  <div class="bloc_vente"> {# Max 3 produits #}

    <h1>Nos produits populaires</h1>

    <div class="mozaic_accueil">
      {% for produit in produits %}
        <div class="carte_produit">
          <img src="{{ asset('images/produits/' ~ produit.imgProduit) }}" alt="photo du produit :" ~ {{produit.nomProduit }}>
          <div class="carte_corp_produit">
            <h5 class="carte_nom_produit">{{ produit.nomProduit }}</h5>
            <div class="carte_foot">
              <p>{{ produit.prixProduit }}</p>	
              <button class="acces_prod"> Voir </button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>

  {# Mozaic licence populaire #}
  <div class="bloc_vente"> {# Max 3 produits #}

    <h1>Nos licences populaires</h1>  
    
    <div class="mozaic_accueil">
      {% for produit in produits %}
        <div class="carte_produit">
          <img src="{{ asset('images/produits/' ~ produit.imgProduit) }}" alt="photo du produit :" ~ {{produit.nomProduit }}>
          <div class="carte_corp_produit">
            <h5 class="carte_nom_produit">{{ produit.nomProduit }}</h5>
            <div class="carte_foot">
              <p>{{ produit.prixProduit }}</p>	
              <button class="acces_prod"> Voir </button>
            </div>
          </div>
        </div>
      {% endfor %}
  </div>
{% endblock %}
