{% extends 'base.html.twig' %}

{% block title %}Page d'administration {% endblock %}

{% block body %}

<div>
    <div>
        <ul>
            <li><button><a href="{{ path('app_user_index') }}">liste user</a></button></li>
            
            <li><button><a href="{{ path('app_clients_index') }}">liste clients</a></button></li>

            <li><button><a href="{{ path('app_formulaire_demande_produit_index') }}">liste form</a></button></li>

            <li><button><a href="{{ path('app_produits_index') }}">liste Produit</a></button></li>

            <li><button><a href="{{ path('app_banniere_index') }}">Modifier banniere</a></button></li>

            <li><button><a href="{{ path('app_vendeurs_index') }}">liste vendeurs</a></button></li>
            
        </ul>
    </div>
</div>
{% endblock %}
