{% extends 'base.html.twig' %}

{% block title %}FormulaireDemandeProduit{% endblock %}

{% block body %}
    <h1>FormulaireDemandeProduit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formulaire_demande_produit.id }}</td>
            </tr>
            <tr>
                <th>TypeProduit</th>
                <td>{{ formulaire_demande_produit.typeProduit }}</td>
            </tr>
            <tr>
                <th>DescriptionProduit</th>
                <td>{{ formulaire_demande_produit.descriptionProduit }}</td>
            </tr>
            <tr>
                <th>DateEnvoieForm</th>
                <td>{{ formulaire_demande_produit.dateEnvoieForm ? formulaire_demande_produit.dateEnvoieForm|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateReponseForm</th>
                <td>{{ formulaire_demande_produit.dateReponseForm ? formulaire_demande_produit.dateReponseForm|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_formulaire_demande_produit_index') }}">back to list</a>

    {# <a href="{{ path('app_formulaire_demande_produit_edit', {'id': formulaire_demande_produit.id}) }}">edit</a> #}

    {# {{ include('formulaire_demande_produit/_delete_form.html.twig') }} #}
{% endblock %}
