{# {% extends 'base.html.twig' %}

{% block title %}modif 1 {% endblock %}

{% block body %}
    {{ form_start(banniere) }}

        {{ form_row(banniere.premiereImage) }}

        <button class="btn">{{ button_label|default('Enregistrer') }}</button>

    {{ form_end(banniere) }}
    <a href="{{ path('app_banniere_show') }}">Retour </a>
    
{% endblock %} #}