{% extends 'base.html.twig' %}

{% block title %}Banniere index{% endblock %}

{% block body %}
    <h1>Banniere index</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom</th>
                <th>Premiere image</th>
                <th>Deuxieme image</th>
                <th>Troisieme image</th>
                <th>Voir</th>
                <th>Modifier</th>
            </tr>
        </thead>

        <tbody>
        {% for banniere in bannieres %}
            <tr>
                {# <td>{{ banniere.id }}</td>  peut etre enlever l id #}
                <td>{{ banniere.nomBanniere }}</td>
                {# Changer le style en css #}
                <td><img src="{{ asset('images/banniere/' ~ banniere.premiereImage ) }}" alt="photo du produit :" ~ {{banniere.premiereImage}} style="height : 100px; width : 100%;"></td>
                <td><img src="{{ asset('images/banniere/' ~ banniere.deuxiemeImage ) }}" alt="photo du produit :" ~ {{banniere.deuxiemeImage}} style="height : 100px; width : 400px;"></td>
                <td><img src="{{ asset('images/banniere/' ~ banniere.troisiemeImage ) }}" alt="photo du produit :" ~ {{banniere.troisiemeImage}} style="height : 100px; width : 100%;"></td>
                <td>
                    <a href="{{ path('app_banniere_show', {'id': banniere.id}) }}">
                        <img src="{{ asset('images/icones/voir.png') }}" alt="icone voir" style="width : 40px;">
                    </a>
                </td>
                <td>
                    <a href="{{ path('app_banniere_edit', {'id': banniere.id}) }}">
                        <img src="{{ asset('images/icones/modifier.png') }}" alt="icone modifier" style="width : 40px;">
                    </a>
                </td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_banniere_new') }}">Create new</a>
{% endblock %}
